# Ignore environment files
.env
.env.production

# Ignore build artifacts
node_modules/
dist/

# Ignore IDE and build tool configuration files
.vscode/
package-lock.json/

# Ignore temporary files
tmp/

# Ignore specific file
important.txt
*.log